/**

Ecom CSS showing how touch can be used for ecom styling for a touch application

**/

div#container {
	margin: 0px auto;
	border: 1px solid red;
	width: 1000px;
}

div#main {
	padding-left: 30px;
}

div#image_carousel{
	width: 350px;
	float: left;
	border: 1px solid #aaa;
	overflow: hidden;
}

div#image_carousel ul{
	margin: 0px;
	padding: 0px;
	width: 1050px;
	position: relative;
	list-style: none;
	-webkit-transform-style: preserve-3d;
	 -moz-transform-style: preserve-3d;
	  -ms-transform-style: preserve-3d;
	   -o-transform-style: preserve-3d;
	      transform-style: preserve-3d;
/**	-webkit-transition: -webkit-transform 1s;
	 -moz-transition: -moz-transform 1s;
	  -ms-transition: -ms-transform 1s;
	   -o-transition: -o-transform 1s;
	      transition: transform 1s;**/
}

div#image_carousel ul>li{
	margin: 0px; padding: 0px;
	overflow: hidden;
	width: 350px;
	position:relative;
	float: left;
}


div#image_carousel img{
	width: 100%;
	display: block;
}

div#product_data {
	width: 450px;
	float: right;
	border: 1px solid green;
}

div.clearfix {
	clear:both;
}