body {
    background: #000;
}


div#message {
    margin: 1em 0em;
    padding: 0.75em 0.75em;
    background-color: rgb(200,100,100);
    -webkit-border-radius: 0.75em;
    -moz-border-radius: 0.75em;
    border-radius: 0.75em;
    color: #fff;
    font-weight: bold;
    /**display: none;**/
}


div#connection {
    margin: 1em 0em;
    padding: 0.75em 0.75em;
    -webkit-border-radius: 0.75em;
    -moz-border-radius: 0.75em;
    border-radius: 0.75em;
    color: #fff;
    font-weight: bold;
    /**display: none;**/
}

div.waiting {
    background-color: rgb(200,150,100);
}

div.connected {
    background-color: rgb(100,200,100);
}

div.disconnected {
    background-color: rgb(200, 50, 50);
}

div#controls {
    text-align: center;
}

@media all and (orientation: landscape) {
    div#message {
        display: none;
    }
}



