/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 * Form Styles
 */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial;
    color: rgb(63,63,63);
}

h1 {
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}

p {
	font-size: 13px;
	line-height: 16px;
	margin-bottom: 20px;
}

form {
	width: 100%;
	padding: 20px;
}

.each-row {
	margin-bottom: 10px;
}

label {
	width: 100%;
	color: rgb(63,63,63);
	font-size: 16px;
	line-height: 26px;
	padding: 8px 0;
	font-weight: bold
}

label.ck_label {
	width: auto;
	line-height: 20px;
	font-weight: normal;
	font-size: 14px;
}

input[type="text"], input[type="email"] {
	width: 100%;
	border: 1px solid #e5e5e5;
	-webkit-appearance: none;
	font-size: 16px;
	line-height: 18px;
	padding: 5px;
	border-radius: 0;
}

input[type="checkbox"] {
	float: left;
	margin: 4px 6px 4px 0;
}

input[type="submit"] {
	background-color: rgb(240,210,50);
	color: rgb(63,63,63);
	-webkit-appearance: none;
	border: none;
	text-transform: uppercase;
	font-size: 16px;
	padding: 10px;
	width: 100%;
	margin-top: 20px;
	border-radius: 0;
    font-weight: bold;
}

.success {
	display: none;
	width: 100%;
	padding: 20px;
}

.error {
	display: none;
	padding: 2px 0;
	font-size: 12px;
	color: rgba(240,65,20,0.8);
	line-height: 14px;
}

.error--field {
	border: 1px solid rgba(240,65,20,0.8) !important;
}
