// Define all the variables

ajlight-grey = rgb(110,110,110);
ajdark-grey = rgb(63,63,63);
ajwhite = rgb(232,232,232);
ajyellow = rgb(240,210,50);

error = rgba(240,65,20,0.8);

highlight = ajyellow;
background-dark = ajdark-grey;
body-light = ajwhite;


padding-size = 1rem 3rem;
standard-size = 2rem;

@import url(http://fonts.googleapis.com/css?family=Muli);
